@import "compass"
@import "compass/reset"

$font-size: 14px
$font-family: Helvetica, Arial, sans-serif
$alt-font: "myriad-pro", Helvetica, sans-serif

$font-color: #b6b6b6
$font-heading: #cbe876
$font-subheading: #00ac82

*
  +box-sizing(border-box)

html
  overflow-y: scroll
  text-align: center

body
  min-width: 320px
  background: #fff
  font-family: $font-family
  font-size: 16px
  line-height: 1.875
  color: $font-color
  -webkit-text-size-adjust: 100%
a
  color: $font-color
  text-decoration: none
h1,
h2,
h3
  font-family: $alt-font
  color: $font-heading

.layout-wrap
  max-width: 1000px
  position: relative
  margin: 0 auto
  padding: 0 20px
  text-align: left

header
  height: 80px

  nav
    ul
      float: left

  li
    display: inline-block
    font-size: 25px
    border-right: 1px #eaeef0 solid
    padding: 0px 25px
    margin: 10px 0
    &.no-border
      border: 0
    &.first
      padding-left: 0
    &.last
      padding-right: 0
    &.right
      float: right
    .notation
      font-size: 15px

  .mod-header-meters
    float: right
    line-height: 45px

    li
      font-size: 20px
      padding: 0px 20px

.mod-subheader
  border-bottom: 1px #eaeef0 solid
  padding: 5px 0px
  margin-bottom: 40px

  h1
    font-size: 20px

.meters
  li
    display: block
    height: 150px
    margin-bottom: 50px

  .meter
    padding-top: 10px
    float: left
    width: 100px
    text-align: center
    display: block

    i
      width: 100%
      display: block

  .history
    margin-left: 100px
    width: 860px
    height: 150px

.history
  .axis path, .axis line
    fill: none
    stroke: #000
    shape-rendering: crispEdges

  .bar
    fill: #a3c95f

  .tick
    text
      font-size: 12px
      fill: #c2c2c2
    line
      stroke: #f0f0f0

  .domain
    display: none

  .axis.x .domain
    display: block
    stroke: #f0f0f0

  .axis.y line
    display: none

  .grid.y line
    stroke-dasharray: 5,5
    stroke: #f0f0f0

.devices
  li
    display: block
    width: 140px
    padding: 15px 10px 10px 10px
    margin: 0px 12px
    float: left
    text-align: center
    background-color: #CBE876
    color: white

    &:first-child
      margin-left: 0
    &:last-child
      margin-right: 0
    p
      line-height: 1em
      display: block
      min-height: 32px
    i
      display: block
      width: 100%
    a
      border: 2px solid white
      padding: 5px
      margin: 10px 0 0 0
      float: left
      width: 60px

      &.on
        border-top-left-radius: 5px
        border-bottom-left-radius: 5px
        border-right: 1px solid white
        color: white
      &.off
        border-top-right-radius: 5px
        border-bottom-right-radius: 5px
        border-left: 1px solid white
        color: white

.mod-departures
  float: left
  width: 480px

  li
    margin-bottom: 20px

  h2
    line-height: 1.5em
  .time-and-platform
    background-color: #CBE876
    color: white
    margin-right: 5px
    display: inline-block
    padding: 2px 5px 0px 5px

    &.delayed
      background-color: #a3c95f

    .platform
      border-left: 1px solid white
      display: inline-block
      padding-left: 5px

  small
    font-size: .8em
    color: $font-color
.mod-disruptions
  float: right
  width: 480px
