@import 'base/reset'

$font-size: 14px
$font-family: Helvetica, Arial, sans-serif
$alt-font: "myriad-pro", Helvetica, sans-serif

$font-color: #b6b6b6
$font-heading: #bac1c9
$font-subheading: #00ac82
$strong-color: #5f6e7a
*
  box-sizing: border-box

html
  overflow-y: scroll
  text-align: center
  height: 100%

body
  min-width: 320px
  background: #fff
  font-family: $font-family
  font-size: 16px
  line-height: 1.875
  color: $font-color
  -webkit-text-size-adjust: 100%
  height: 100%
  font-weight: lighter

a
  color: $font-color
  text-decoration: none
h1,
h2,
h3
  color: $font-heading
  text-align: left

.fa
  color: #d9dde1

.boxes
  background-color: #f8f9fb
  display: block
  height: 100%
  width: 100%

  & > li
    display: block
    float: left
    list-style: none
    margin: 0
    padding: 10px
    height: 25%
    min-height: 25%
    width: 20%
    overflow: hidden

    &.double
      width: 40%

    &.triple
      width: 60%

    &.half
      width: 10%

  .inner
    background-color: white
    height: 100%
    width: 100%
    padding: 10px
    border: 1px solid #f2f3f6

    h2
      width: 100%
      text-align: left
      height: 25%
      text-transform: capitalize

      .fa
        margin-right: 5px

.usage
  .meter
    height: 40%

    .number
      font-weight: normal
      color: $strong-color
      font-size: 22px

  .history
    width: 100%
    height: 35%

.history
  .line
    fill: none
    stroke-width: 1.5px
    shape-rendering: optimizeQuality

.device

  h3
    text-align: center
    height: 40%
    font-weight: normal
    color: $strong-color

  .switches
    text-align: center
    height: 35%

  .toggle
    margin: auto
    width: 80%

    a
      border: 2px solid #f2f3f6
      padding: 5px
      float: left
      width: 50%

      &.on
        border-top-left-radius: 5px
        border-bottom-left-radius: 5px
        border-right: 1px solid white
      &.off
        border-top-right-radius: 5px
        border-bottom-right-radius: 5px
        border-left: 1px solid white

.departures
  text-align: left
  font-size: 14px
  ul
    overflow: auto

  .time-and-platform
    font-weight: normal
    color: $strong-color

  .delayed
    color: red

  .platform
    display: inline-block

  small
    font-size: .8em
    color: $font-color

.mod-disruptions
  float: right
  width: 480px
