%h1 Moo

%select.timeframe-select
  %option{:value => 'hour'} Hour
  %option{:value => 'day'} Day
  %option{:value => 'week'} Week
  %option{:value => 'month'} Month
  %option{:value => 'year'} Year

%ul.meters
  %li
    .current
      %h2 Electricity
      .number-with-notation
        %span.number= @electricity
        %span.notation Wh
    .history{'data-graph_source' => 'e'}

  %li
    .current
      %h2 Gas
      .number-with-notation
        %span.number= @gas
        %span.notation m3
    .history{'data-graph_source' => 'g'}

  %li
    .current
      %h2 Water
      .number-with-notation
        %span.number= @water
        %span.notation L

    .history{'data-graph_source' => 'w'}
