.mod-subheader
  %h1
    Energy usage last
    %select.timeframe-select
      %option{:value => 'hour'} Hour
      %option{:value => 'day'} Day
      %option{:value => 'week'} Week
      %option{:value => 'month'} Month
      %option{:value => 'year'} Year

%ul.meters
  %li{'data-graph_source' => 'e'}
    .meter
      %i.fa.fa-bolt.fa-5x
      %span.number= @electricity
      %span.notation w/h
    .history

  %li{'data-graph_source' => 'g'}
    .meter
      %i.fa.fa-fire.fa-5x
      %span.number= @gas
      %span.notation m3
    .history

  %li{'data-graph_source' => 'w'}
    .meter
      %i.fa.fa-tint.fa-5x
      %span.number= @water
      %span.notation l
    .history
