!!! 5

%html{:lang => "en"}
  %head
    %meta{:charset => 'utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width'}
    %meta{:name => 'apple-mobile-web-app-capable', :content => 'yes'}

    %title Test

  %body
    .layout-wrap
      = yield

    = css :application
    = js :application
